/* section 1 */
body {
  background-color: #fff;
}

.section {
  margin: 5%;
  background-color: #F1E9E9;
  padding-bottom: 2%;
}

.section-name {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 2.5vw;
  padding: 2%;
}

.main-tetxt {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 2.5vw;
}

.list-tetxt {
  font-weight: 400;
  font-size: 2.5vw;
}

.list-item {
  display: flex;
  align-items: top;
  padding: 5% 0 0 5%;
}

.list-number {
  display: inline-block;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  background-color: #AAA9B7;
  color: #fff;
  text-align: center;
  line-height: 5.5vw;
  margin-right: 10px;
}

.shop-list-1 {
  padding-top: 3.5vh;
  display: inline-block;
}

.shop-list-2 {
  padding-top: 6vh;
  display: inline-block;
}

.shop-list-3 {
  padding-top: 1vh;
  display: inline-block;
}

/* section 2 */

.form-elements {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 5%;
  text-align: left;
}

.input-element {
  margin: 2% 5% 2% 5%;
  font-size: 2.5vw;
}

.button-element {
  display: inline-block;
  margin: 2% 0% 2% 5%;
  font-size: 2.5vw;
  width: auto;
  text-align: left;
  width: fit-content;
}

/* section 3 */

.item-container {
  display: flex;
  align-items: flex-start;
  padding: 5% 0 0 5%;
}

table.table-1 {
  width: 80%;
  margin-top: 3vh;
  border-collapse: collapse;
}

table.table-1 td,  table.table-1 tr {
  border: 1px solid #000;
  font-size: 2.5vw;
  background-color: #fff;
}

table.table-1 td {
  width: 33%;
  height: 10vh;
}

.tr-up {
  text-align: center;
  font-weight: 700;
}

table.table-2 {
  width: 50%;
  margin-top: 3vh;
  border-collapse: collapse;
}

table.table-2 td,  table.table-2 tr {
  border: 1px solid #000;
  font-size: 2.5vw;
  background-color: #fff;
}

table.table-3 {
  width: 80%;
  margin-top: 3vh;
  border-collapse: collapse;
}

table.table-3 td,  table.table-3 tr {
  text-align: center;
  border: 1px solid #000;
  font-size: 2.5vw;
  background-color: #fff;
}

/* section 4 */

.section3 {
  margin: 5%;
  background-color: #F1E9E9;
  padding-bottom: 2%;
}

.section3__item {
  display: flex;
  align-items: flex-start;
  padding: 5% 0 0 5%;
}

.section3__text1 {
  width: 45%;
  font-size: 3vw;
  background-color: #fff;
  border: 1px solid #beafaf;
  padding: 2vh;
  white-space: normal;
}

.section3__text-container2 {
  background-color: #fff;
  width: 70%;
  padding: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section3__text2 {
  width: 80%;
  font-size: 5vw;
  background-color: #fff;
  border: 1px solid #beafaf;
  padding: 0.5vh;
  white-space: nowrap;
}

.section3__text-container3 {
  background-color: #fff;
  width: 60%;
  padding: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section3__text3 {
  width: 80%;
  font-size: 3vw;
  background-color: #fff;
  border: 1px solid #beafaf;
  padding: 0.5vh;
  white-space: pre;
}

.section3__text4 {
  width: 50%;
  font-size: 3.5vw;
  background-color: #fff;
  border: 1px solid #beafaf;
  padding: 0.5vh;
  white-space: pre-wrap;
}

/* section 5 */

.section5 {
  margin: 5%;
  background-color: #F1E9E9;
}

.section5__items-container {
  background-color: #a09f9f;
  padding: 3vh 10vh 3vh 3vh;

  p, div, span, h3, button, section {
    background-color: #a52948;
    height: 50px;
    margin: 10px 0;
  }
  span {
    display: inline-block;
    width: 150px;
  }
  input {
    display: inline-block;
  }
  button {
    text-align: center;
    width: 200px;
    display: block;
  }
  section {
    width: 150px;
    display: inline-block;
  }
}

/* section 6 */

.section6 {
  margin: 5%;
  background-color: #F1E9E9;
  div {
    background-color: #AAA9B7;
    p {
      color: #1332e2;
      font-size: 5vh;
    }
    h2 {
      color: #09da13;
    }
  }
  #test {
    p {
      color: #13d4e2;
      font-size: 7vh;
    }
    h2 {
      color: #2c6880;
      font-size: 2vh;
    }
  }
}
